---
import CommonLayout from "../layouts/CommonLayout.astro";
---

<CommonLayout>
  <h1>各種表記</h1>

  <h2>利用技術</h2>
  <ul>
    <li><a href="https://astro.build">Astro</a> : 静的サイトジェネレータ</li>
    <li>
      <a href="https://pages.cloudflare.com">Cloudflare Pages</a> : ホスティング
    </li>
  </ul>

  <h2>権利表記</h2>
  <ul>
    <li>
      <a
        href="https://booth.pm/ja/items/2328262"
        style="font-family: 'LightNovelPOP';">ラノベPOPv2</a
      >
      <br />Copyright (C) 2002-2019 M+ FONTS PROJECT
      <br />Copyright (C) 2020 flopdesign.com
      <br />Copyright (C) 2020 Kato Masashi
    </li>
  </ul>
</CommonLayout>
