---
import { getCollection } from "astro:content";
import CommonLayout from "../../../layouts/CommonLayout.astro";

const blogEntries = await getCollection("blog");
const sortedBlogEntries = blogEntries.sort((a, b) => {
  return a.slug > b.slug ? -1 : 1;
});
const filteredBlogEntries = sortedBlogEntries.filter((blogPostEntry) => {
  return !blogPostEntry.data.tags.includes("ねこ");
});
---

<CommonLayout>
  <h1>OtherBlog</h1>
  <ul>
    {
      filteredBlogEntries.map((blogPostEntry) => (
        <li>
          <a href={`/blog/${blogPostEntry.slug}`}>
            <p>
              {blogPostEntry.data.date.toLocaleDateString()} -
              {blogPostEntry.data.title}
            </p>
          </a>
        </li>
      ))
    }
  </ul>
</CommonLayout>
