---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string;
  description?: string;
  katex?: boolean;
}
const { title, description, katex } = Astro.props;

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="ja">
  <head>
    <BaseHead
      title={title || SITE_TITLE}
      ,
      description={description || SITE_DESCRIPTION}
      ,
      katex={katex || false}
    />
  </head>
  <body>
    <Header />
    <div class="inner"><slot /></div>
    <Footer />
    <style>
      .inner {
        max-width: 800px;
        margin: 16px;
      }
    </style>
  </body>
</html>
